<nav class="navbar navbar-inverse navbar-fixed-top gb-header">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        <a class="navbar-brand" href="#"> <img src="/images/Web-icon.png" class="gb-header-logo-img"> <span class="gb-header-logo-text">Traffic Source</span></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><i class="fa fa-sign-in" aria-hidden="true"></i> Sign up</a></li>
                <li><a href="/#!/login"><i class="fa fa-lock" aria-hidden="true"></i> Sign In</a></li>
            </ul>
        </div>
    </div>
</nav>
