body {
  background: url("/images/bkg.jpg");
  padding-top: 2em;
  height: calc(100vh);
  background-repeat: no-repeat;
  background-size: 100%;
  background-size: cover;
  color: #656161; }

.gb-header {
  border-bottom: 5px solid #456d2c;
  color: white;
  background-color: rgba(16, 40, 243, 0.3);
  box-shadow: 0 0 99px 0 #171616 inset; }

.gb-header-logo-text {
  position: relative;
  top: -32px;
  left: 60px; }

.gb-header-logo-img {
  width: 45px;
  margin-top: -12px; }

.text-center {
  text-align: center; }

.pointer {
  cursor: pointer; }

.mt-5 {
  margin-top: 5px; }

.gb-footer {
  height: 30px;
  width: 100%;
  position: fixed;
  bottom: 0px;
  padding: 5px;
  color: white;
  border-top: 2px solid #59595a;
  background-color: #c8c5ce;
  box-shadow: 0 0 99px 0 #171616 inset; }

.view-content {
  margin: 70px 16px 43px 16px; }

.dashboard-cn {
  padding-top: 350px;
  text-align: center;
  color: #656161; }

.gb-button,
.gb-button:hover,
.gb-button:focus,
.gb-button:active {
  background-color: #323232 !important;
  border: 1px solid #4a4d6d !important;
  color: #716f6f !important; }

input {
  background-color: #303030 !important;
  border: 1px solid #4e4c4c !important;
  height: 40px !important;
  color: white !important; }

label {
  color: #716f6f;
  float: left;
  font-weight: 400; }

#toast-container {
  width: 100% !important;
  top: 0px !important;
  right: 0px !important; }
  #toast-container .toast-gray-success {
    width: 100% !important;
    position: fixed !important;
    bottom: 25px;
    background-color: #456d2c;
    padding: 6px 15px 6px 60px;
    box-shadow: none !important; }
    #toast-container .toast-gray-success .toast-close-button {
      position: absolute;
      left: 15px !important;
      top: 11px !important;
      font-size: 30px; }
    #toast-container .toast-gray-success progress-bar {
      background-color: #202449; }
  #toast-container .toast-gray-err {
    width: 100% !important;
    position: fixed !important;
    bottom: 25px;
    background-color: rgba(255, 29, 5, 0.52);
    padding: 6px 15px 6px 60px;
    box-shadow: none !important; }
    #toast-container .toast-gray-err .toast-close-button {
      position: absolute;
      left: 15px !important;
      top: 11px !important;
      font-size: 30px; }
    #toast-container .toast-gray-err progress-bar {
      background-color: #202449; }

.gb-modal .modal-header {
  background-color: rgba(84, 87, 115, 0.3);
  box-shadow: 0 0 99px 0 #171616 inset;
  color: white;
  border-bottom: 5px solid #456d2c;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px; }

.gb-modal .modal-close {
  color: white;
  font-size: 27px; }

.gb-modal .modal-body {
  background-color: #1b1b1b; }

.gb-modal .modal-footer {
  border-top: 0px !important;
  background-color: rgba(84, 87, 115, 0.3);
  box-shadow: 0 0 99px 0 #171616 inset;
  color: white;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px; }

.gb-modal .modal-save-btn,
.gb-modal .modal-save-btn:hover,
.gb-modal .modal-save-btn:focus,
.gb-modal .modal-save-btn:active {
  background-color: #a09a9a !important;
  border: 1px solid #a7a8af !important;
  color: #0f1123 !important; }

.gb-modal .cancel-link {
  margin-right: 15px;
  color: #1b1b1b; }
